html {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

a {
  background-color: aliceblue;
}

a:hover {
  background-color: aqua;
}
img {
  max-width: 100%;
}